{:deps   {:aliases [:provided :dev]}
 :nrepl  {:port 9000}
 :builds {:workspaces {:target     :browser
                       :output-dir "resources/public/js/workspaces"
                       :asset-path "/js/workspaces"
                       :devtools   {:preloads           [com.fulcrologic.fulcro.inspect.preload]
                                    :http-root          "resources/public"
                                    :http-port          8023
                                    :http-resource-root "."}
                       :modules    {:main {:entries [fulcrologic.semantic-ui.workspaces-main]}}}}}

